@mixin windowBorder {
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid #393939;
	border-bottom: 2px solid #393939;
	background-color: hsl(0, 0%, 75%);
}

.btn-95 {
	@include windowBorder;
	padding: 0.125rem 0.75rem;

	&:hover {
		background-color: hsl(0, 0%, 65%);
		cursor: default;
	}

	&:active,
	&[data-active='true'] {
		border-bottom: 2px solid white;
		border-right: 2px solid white;
		border-top: 2px solid #393939;
		border-left: 2px solid #393939;
		background-color: hsl(0, 0%, 75%);
	}
}
